coderedcms==6.0.*
django-pwa==2.0.1
wagtail==7.3.*
gunicorn==20.1.0
wagtail-font-awesome-svg==2.0.*
polib==1.2.0
wagtail-localize==1.13.*
wagtail-modeladmin==2.2.*
django-environ==0.11.2
django-cors-headers==4.9.0
djangorestframework>=3.16,<4.0
setuptools==80.10.2
